/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 7, 2024, 2:37:35 PM
    Author     : admin
*/


.homepage__browse {
    border: 1px solid white;
    color: #057a6d;
    font-size: 18px;
    font-weight: 500;
    background-color: #def7ec;
    transition-duration: 0.5s;
}

.homepage__browse:hover {
    background-color: #84e1bc;
}

.homepage__search {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepage__search__btn {
    border: 1px solid white;
    font-size: 18px;
    color: white;
    font-weight: 500;
    background-color: #1c3d7a;
    transition-duration: 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
}

.homepage__search__btn:hover {
    background-color: #172e59;
}

.homepage__slider a {
    border: 1px solid graytext;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.homepage__desc__btn {
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #118577;
    transition-duration: 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #118577;
}

.homepage__desc__btn:hover {
    background-color: #13695f;
    border: 1px solid #13695f;
}
