/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 5, 2024, 2:17:49 PM
    Author     : admin
*/

.longin__style__line {
    position: relative;
    color: graytext;
}

.longin__style__line:after {
    content: "";
    background-color: graytext;
    position: absolute;
    height: 1px;
    width: 170px;
    bottom: 10px;
    left: 0px;
    margin-left: 20px;
}

.longin__style__line:before {
    content: "";
    background-color: graytext;
    position: absolute;
    height: 1px;
    width: 170px;
    bottom: 10px;
    margin-right: 20px;
    right: 0px
}

.login {
    background-color: #118577;
    border: 1px solid #118577;
}

.login:hover {
    transition-duration: 0.5s;
    background-color: #13695f;
    border: 1px solid graytext;
}

.login-gg {
    background-color: white;
    border: 1px solid graytext;
}

.login-gg:hover {
    background-color: #f9fafb;
    transition-duration: 0.5s;
}


